ul {
  list-style: none;
  padding-left: 0px;
}
h3 {
  margin-top: 40px;
  margin-bottom: 0px;
  color: #298fa6;
}
#content li {
  padding-left: 30px;
}
#content {
  display: "none";
}
#pfbody {
  width: "100%";
}
#pfbody hr {
  width: "100%";
}
