body {
  /*container*/
  width: 843px;
  display: flex;
  align-items: center;
  flex-direction: column; /*위에서 아래*/
}

.picInfo {
}

.pic {
  width: 800px;
  height: 800px;
}

.picInfo {
  background-color: #eaeaea;
  padding: 0.03%;
}

.picWho {
  margin: 0.03%;
  padding: 0.5%;
}

.inToblock {
  display: inline-block;
}

img {
  display: block;
  margin: 0px auto;
  margin-top: 2%;
}

.comment {
  background-color: #eaeaea;
  margin: 3%;
}

.everyBtn {
  color: #bc8e5e;
}
