h3 {
  color: #8ebdc4;
  margin-left: 10px;
}

hr {
  width: 140px;
  margin-left: 10px;
}

ul {
  margin-left: 0px;
  width: 140px;
}

ul li {
  list-style-image: url("./images/folder.png");
  /*margin: 5px;*/
  border: 0px;
  margin-left: 0px;
  margin-top: 5px;
  width: 140px;
}

a {
  color: black;
  text-decoration: none;
}

#mainDiv {
  width: 316px;
  height: 300px;
}

a:active {
}
