@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&display=swap");
html,
body {
  background-color: #a6a6a6;
  height: 100%;
}
#page {
  display: inline-block;
  width: 1400px;
  height: 900px;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
#psyworldhome {
  display: inline-block;
  width: 400px;
  height: 600px;
  position: relative;
  left: 45px;
  bottom: 260px;
}
#outerleft {
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  border-color: gray;
  border-style: solid;
  border-width: 3px;
  border-right: none;
  width: 31%;
  height: 100%;
}
#outerright {
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  border-color: gray;
  border-style: solid;
  border-width: 3px;
  border-left: none;
  width: 68%;
  height: 100%;
  position: relative;
}
#dotleft {
  display: inline-block;
  background-color: lightgray;
  background-clip: content-box;
  border-radius: 20px;
  height: 90%;
  width: 85%;
  border: dashed gray;
  margin: 30px 0px 30px 30px;
  padding: 10px 0px 10px 10px;
  border-right: none;
  position: relative;
  left: 25px;
  overflow: auto; /**/
}
#dotleft p {
  display: inline-block;
  position: absolute;
  padding: 30px 50px 0px 80px;
}
#dotright {
  display: inline-block;
  background-color: lightgray;
  background-clip: content-box;
  border-radius: 20px;
  height: 90%;
  width: 95%;
  border: dashed gray;
  margin: 30px 30px 30px 0px;
  padding: 10px 10px 10px 0px;
  border-left: none;
  overflow: auto; /**/
}
#dotright > h1 {
  display: inline-block;
  color: #298fa6;
  position: absolute;
  left: 25px;
}
#dotright > span {
  position: absolute;
  left: 630px;
  top: 90px;
}
#ifleft {
  display: inline-block;
  background-color: white;
  width: 90%;
  height: 90%;
  border-radius: 20px;
  position: relative;
  left: 20px;
  top: 65px;
  border: solid #aaaaaa;
}
#ifright {
  display: inline-block;
  background-color: white;
  width: 95%;
  height: 90%;
  border-radius: 20px;
  position: relative;
  top: 65px;
  left: 10px;
  border: solid #aaaaaa;
  border-right: none;
}
#homebar {
  display: inline-block;
  background-color: #3c3c3c;
  width: 100%;
  height: 10%;
  border-radius: 10px;
  position: absolute;
  font-size: 30px;
  color: white;
  margin: 0px;
  text-align: center;
  justify-content: center;
}
#homebar span {
  display: block;
  position: relative;
  margin-top: 13px;
}
#underhb {
  display: inline-block;
  background-color: white;
  width: 100%;
  height: 55%;
  border-radius: 10px;
  position: absolute;
  top: 70px;
  font-size: 20px;
}
#underhb span {
  margin-left: 10px;
}
#underhb meter {
  width: 60%;
  position: absolute;
}
#musicouter {
  display: inline-block;
  background-color: lightgray;
  width: 100%;
  height: 15%;
  border-radius: 10px;
  position: absolute;
  top: 410px;
}
#musicouter audio {
  display: inline-block;
  position: absolute;
  height: 20%;
  width: 90%;
  left: 20px;
}
#musicinner {
  background-color: white;
  height: 50%;
  width: 90%;
  font-size: 20px;
  margin: 10px 20px;
  text-align: center;
  vertical-align: middle;
}
#musicinner span {
  display: block;
  position: relative;
  top: 10px;
}
#button {
  display: inline-block;
  position: absolute;
  left: 873px;
  top: 140px;
}
#button button {
  display: block;
  background-color: #298fa6;
  color: white;
  width: 100px;
  height: 60px;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid navy;
  border-left: none;
  margin: 3px;
  margin-left: 0px;
  font-size: 20px;
}
#button button:focus {
  border-left: none;
  outline: none;
}
#iframe {
  display: inline-block;
  position: absolute;
}

#mainContainer {
  background-color: #a6a6a6;
  width: 1920px;
  height: 1080px;
  position: absolute;
  left: 0px;
  overflow: auto;
}
