#ifright {
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  border: solid #aaaaaa;
  border-right: none;
  overflow: auto;
  display: flex;  
  justify-content: center;  
}
