#leftcontainer {
  width: 316px;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  flex-direction: column;
}
#today {
  width: 70%;
  height: 35px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15%;
  margin-bottom: 5%;
  border: 1px solid;
  border-radius: 5px;
  border-color: grey;
}

#feelings {
  width: 30%;
  border: none;
}
#info {
  margin-top: 5%;
  margin-bottom: 10%;
  height: 130px;
  width: 70%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
#edit {
  flex-direction: column;
  width: 70%;
  border-bottom: 1px solid grey;
  font-size: 12px;
  padding-left: 3%;
}
#psyInfo {
  height: 50px;
  width: 70%;
  padding-top: 22%;
  flex-direction: column;
  display: flex;
}
