#container {
  width: 755px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#news {
  width: 90%;
  height: 150px;
  margin-top: 2%;
}
#newsBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
#newsBoard {
  width: 47%;
  height: 120px;
  margin-top: 1%;
  border-top: 1px solid grey;
}
.bold {
  color: #298fa6;
  font-weight: bold;
}
#list {
  margin-top: 1%;
  flex-direction: row;
  display: flex;
  height: 22px;
}
#list > span {
  font-size: 13px;
}
.photo {
  color: white;
  font-size: 15px;
  background-color: #d92525;
  border-radius: 5px;
  margin-right: 1%;
}
.diary {
  color: white;
  font-size: 15px;
  background-color: #000f96;
  border-radius: 5px;
  margin-right: 1%;
}
.right > #list {
  border-bottom: 1px solid grey;
}
#miniroom {
  display: flex;
  width: 90%;
  height: 370px;
  flex-direction: column;
  margin-bottom: 2%;
}
img {
  width: 100%;
  border: 2px solid grey;
}
#friendSay {
  display: flex;
  height: 300px;
  flex-direction: column;
  width: 90%;
}
#friendSay > .bold {
  border-bottom: 1px solid grey;
  margin-bottom: 1%;
}
#inputSay {
  height: 45px;
  background-color: lightgrey;
  flex-direction: row;
  display: flex;
  align-items: center;
  margin-bottom: 1%;
}
#inputSay > .bold {
  margin-left: 3%;
  margin-right: 3%;
}
input {
  width: 70%;
  margin-right: 2%;
}
#sayList {
  height: 230px;
}
li {
  width: 96%;
  list-style-position: inside;
  border-bottom: 1px solid grey;
  height: 25px;
  margin-left: 2%;
  font-size: 14px;
  margin-bottom: 1%;
}
